<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Tigren\AdvancedCheckout\Api\CustomInterface" type="Tigren\AdvancedCheckout\Model\Api\Custom"/>
    <preference for="Tigren\AdvancedCheckout\Api\CheckOrderAllow" type="Tigren\AdvancedCheckout\Model\Api\CheckAllowOrder"/>
    <preference for="Tigren\AdvancedCheckout\Api\CheckLoginCustom" type="Tigren\AdvancedCheckout\Model\Api\CheckLoginCustom"/>
    <preference for="Magento\Quote\Api\CartRepositoryInterface" type="Magento\Quote\Model\QuoteRepository" />

</config>
